.modalOverlay {
  height: 100%;
}

.modalContent {
  height: 100%;
}

.lessonContainer {
  // padding: 14px 0 7px;
  display: flex;
  align-items: center;
  gap: 11px;
}

.lessonBlock {
  padding-top: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  // overflow: hidden;
}

.lessonTitle {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.lessonFill {
  width: 100%;
  height: 188px;
  // background-color: #d9d9d9;
  
  margin: 0 auto;
  margin-bottom: 12px;

  .youTube {
    border-radius: 8px;
  }
}

.lessonNumTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

.lessonNumBlock {
  padding-top: 10px;
  height: 30%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--primary-disabled);
  position: relative;
  background-color: #f7f7f7;
  
}

.list {
  display: flex;

  .item {
    width: 43px;
    height: 40px;

    button {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      color: #fff;
      background-color: #53ADF0;
      font-size: 15px;
      font-weight: 600;
      line-height: 20px;
      border: 1px solid #bcbcbc;
      border-bottom: 4px solid #bcbcbc;
    }
  }
}

.lessonNumList {
  margin-bottom: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-bottom: 40%;

  li {
    width: 43px;
    height: 40px;

    button {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      color: #000000;
      background-color: #f7f7f7;
      font-size: 15px;
      font-weight: 600;
      line-height: 20px;
      border: 1px solid #bcbcbc;
      border-bottom: 4px solid #bcbcbc;
    }
  }
}

.descr {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 16px;
}

.lessonNumImg {
  // position: absolute;
  // bottom: 100px;
  // right: 15px;
  z-index: -1;
}

.boxbtn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 98%;
  padding: 14px 10px 30px 10px;

  .lessonNumBtn {
    width: 100%;
    padding: 13px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 12px;
  }
}


