.btn {
  font-family: "PassionOne", Arial, sans-serif;
  margin: 0;
  border: none;
  background-color: var(--primary-purple-btn);
  cursor: pointer;
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-dark-purple-btn);

  &:disabled {
    color: var(--primary-color-disabled);
    background-color: var(--primary-disabled);
    border: none;
  }

  &[data-kind="secondary"] {
    background-color: var(--secondary);

    &:hover {
      background-color: var(--secondary-hover);
    }
  }
}
