.header {
  margin: 0 auto;
  padding: 24px 10px 6px;
  max-width: 375px;
  position: fixed;
  background-color: #f7f7f7;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.headerList {
  display: flex;
  align-items: center;
  gap: 46px;

  .item {
    display: flex;
    align-items: center;

    .descr {
      margin-right: 5px;
    }

    .valueCoin {
      
    }
  }
}


