.footer {
  margin: 0 auto;
  padding: 6px 10px 14px;
  max-width: 375px;
  border-top: 1px solid #38334a;
  background-color: #f7f7f7;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
}

.footerList {
  display: flex;
  align-items: center;
  gap: 34px;
}
